/* -------------------------------------------------------------------

Alright guys, this should be fun. Follow the instructions inline.
Make all the changes with CSS only — the HTML shouldn't change at all.
This one is gonna be a little bit of a challenge!

To see what the finished product should look like,
check out images/finished-page.png

##### Instructions


------------------------------------------------------------------- */

html, body {
    margin: 0;
    padding: 0;
    font: normal 16px/26px georgia, serif;
}

nav {
    /* 1. Add one rule here that makes the nav stick to the top of the window as the page scrolls. */

    /* 2. Add another rule that makes the nav be as wide as the entire page. */

    /* 3. Finally, include a rule that will center all TEXT inside of this element. */

    border-bottom: 1px solid #ccc;
    background: #fff;
    z-index: 10;
}


nav li {
    /* Notice how the selector here has a space in it. This tells CSS to apply the following */
    /* rules ONLY to <li> elements that are INSIDE <nav> elements. This is called a nested tag. */

    /* 4. Add one rule here that puts all these elements on one line. */

    /* 5. Add another rule that puts some space between them. */

    /* 6. If you see bullets on your list items, add a rule to remove them. */
}

.content {
    /* 7. Add a rule that puts space at the top of this element, which wil leave room for the nav. */
}

.intro {
    /* 8. Make this div centered on the page. To do this, you need to define a width.*/
    /* Make the div a little wider than the 2x2 image of the Beatles. */

    /* 9. We'd also like the text itself to be centered. */

    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.beatle {
    /* 10. Add a rule that makes this element the same width as the intro. */

    /* 11. And center it the same way. */

    margin-bottom: 40px;
}

/* 12. Write a selector that gets applied to JUST images that live withing divs of class "beatle". */
/* Reference the LI rule above for the syntax. */

/* 13. In the selector from (12), add a rule that does takes the Beatles images out of the flow so  you can position it. */
/* 14. In order for those images to be positioned relative to the block of text, you also need to add one rule to the _previous_ ruleset. */

/* 15. Then, to… */

.source {
     /* Finally, make the source centered.*/

    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}
